@page "/fetchcs"
@using ScuoloaDbApp.Shared
@inject HttpClient Http

@if (classiStudenti == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
    @foreach (var item in classiStudenti)
    {
        <li>
            @item.Sigla : @item.NumeroStudenti
        </li>
    }
</ul>
}

@code {
    private ClassiStudenti[]? classiStudenti;

    protected override async Task OnInitializedAsync()
    {
        classiStudenti = await Http.GetFromJsonAsync<ClassiStudenti[]>("api/cs");
    }
}
