@page "/fetchcs"
@using ScuoloaDbApp.Shared
@inject HttpClient Http

@if (classiStudenti == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Classe</th>
                <td>Ubicazione</td>
                <td>Note</td>
                <th>Numero Studenti</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in classiStudenti)
            {
                <tr>
                    <th>@item.Sigla</th>
                    <td>@item.Ubicazione</td>
                    <td>@item.Note</td>
                    <td>@item.NumeroStudenti</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ClassiStudenti[]? classiStudenti;

    protected override async Task OnInitializedAsync()
    {
        classiStudenti = await Http.GetFromJsonAsync<ClassiStudenti[]>("api/cs");
    }
}
